<div class="dataContainer">
    {{#each artists}}
        <div class="eachArtist">
            <img src={{this.images.0.url}} alt="Image not found" onerror="this.src='/images/no-img.jpg';">
            <div class="graybox">
                <h4>{{this.name}}</h4>
                <a class="viewButton" href="/tracks/{{this.id}}">View Tracks</a>
            </div>
        </div>
    {{/each}}
</div>