
    <div id="main-background"> 
        <img src="/images/concert.jpeg"/>
        <div class="search-box">
            <form action="/artists" method="GET">
                <input type="text" name="artists" id="searchBar">
                <input type="submit" value="Search for Artist" id="searchButton">
            </form>
            
        </div>
    </div>
